.Banner-Industry{
    height: 100%;
    width: 100%;
    padding: 0px 80px;
    margin-bottom: 30px;
}
.inside-banner-industry{
    background: #ec652c;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
    padding: 10px;
}
.industry-banner-img{
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

@media screen and (min-width:1500px) {
    .Banner-Industry{
        width: 1440px;
        padding: 0px 0px;
    }
}

@media screen and (max-width:600px) {
    .Banner-Industry{
        padding: 0px 50px;
    }
}

@media screen and (max-width:450px) {
    .Banner-Industry{
        padding: 0px 20px;
    }
}