.Features{
    width: 100%;
    height: 100%;
    padding: 20px 80px;
}

.inside-features{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    flex-direction: column;
}

.feature-title{
    color: #ec652c;
    font-size: clamp(1.5rem, 0.5774rem + 1.7536vw, 3.326rem);
    font-weight: 600;
    margin-bottom: 30px;
    text-align: center;
}
.feature-unordered-list-container{
    width: 80%;
}
.feature-name{
    font-size: 18px;
    color: #ec652c;
    margin-bottom: 5px;
    font-style:normal;
}
.feature-name span{
    color: black;
}


@media screen and (min-width:1500px) {
    .Features{
        width: 1440px;
        padding: 20px 0px;
    }
    .feature-name{
        font-size: 22px;
    }
}

@media screen and (max-width:600px) {
    .Features{
        padding: 20px 50px;
    }
    .inside-features{
        align-items: normal;
    }
    .feature-unordered-list-container{
        width: 100%;
    }
}

@media screen and (max-width:450px) {
    .Features{
        padding: 20px 20px;
    }
}